.seat {
    width: 44px;
    height: 44px;
    border-radius: 10px;
    border: rgb(99, 22, 22) 2px solid;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seat:hover {
    color: white;
}
