.seat {
    width: 44px;
    height: 44px;
    border-radius: 10px;
    border: rgb(99, 22, 22) 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seatNumber {
    display: none;
    font-size: 10px;
    color: white;
}

.seat:hover .seatNumber{
    display: block;
}
